html, body {
	height:100%;
    padding:0;
    margin:0;
 }
#map {
	
	height: 100%;
	display:block;
}

 section {
	width: 100%;
	height: 55px;
	background: -webkit-linear-gradient(right, rgba(255,88,88,0.8), rgba(255,88,88,1));
	background: linear-gradient(right, rgba(252, 88, 88, 0.8), rgba(252, 88, 88, 1));
	position: absolute;
	z-index: 2;
 }
 
 .nav-list {
	float: right;
    margin-right: 23px;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
 }
 .nav-item  {
	float: right;
    font-size: 18px;
    margin-right: 18px;
	margin-top: 15px;
	cursor: pointer;
	color: rgb(240, 233, 233);
	font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
    font-weight: 500;
 }
 

 
 #logo {
	 margin-top: 3px;
	 margin-left: 50px;
	 float: left;
	 font-size: 25px;
	 font-family: 'Pacifico', cursive;
	 color: rgb(245, 250, 233);
 }
#messageDialog {
	margin-left: 30px;
	display: none;
}
#title, #description, #photoURL, #contact {
	width: 300px;
}

#description {
	height: 40px;
}

.main-dialog-class .ui-widget-header{
	background: repeat-x scroll 34px 42px rgba(255, 51, 51, 0.8);
	font-size:15px;
	color: white;
	
	}
.main-dialog-class .ui-widget-content{
	background-color:#fff}
	
#messageDialog {
	color: rgba(255,88,88,1);
	margin-left: 10px;
}

.ui-dialog .ui-dialog-title {
  text-align: center;
  width: 100%;
}
.ui-dialog-titlebar-close {
	background-color: white;
}

.gm-style-iw {
	max-width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	min-width: 330px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 15px 10px;	
	max-height: 100px;
	max-width: 100px;
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}

#deleteButton {
	margin-right: 15px;
	width: 75px;
	height: 30px;
	float: right;
	border-radius: 7px 7px 7px 7px;
	background-color: rgba(255,88,88,1);
	color: white;
	cursor: pointer;
}
</style>